@font-face {
  font-family: Oldenburg;
  src: url("./Oldenburg-Regular.ttf");
}

body {
  font-family: Oldenburg;
  background-color: lightpink;
  color: blue;
  font-size: 1.1rem;
  outline: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  user-select: none;
}

#main {
  margin-top: 75px;
}

h1 {
  text-align: center;
  color: red;
  filter: blur(1px);
  filter: drop-shadow(0 16px 20px blue);
  font-size: 6vw;
}

h2 {
  text-align: center;
  color: blue;
  filter: drop-shadow(0 4px 5px royalblue);
  font-size: 4vw;
}

#tBtns {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  margin: .5vh auto;
}

.tBtn {
  flex-grow: 1;
  margin: 1vh 5vw;
  height: 8vh;
  width: 25vw;
  padding: 5px;
  color: orangered;
  background-color: darkblue;
  border: outset 2px turquoise;
  border-radius: 10px;
  opacity: 1;
  outline: none;
  font-size: min(3vw, 1em);
}

.tBtn:active {
  background-color: rgb(22, 22, 80);
  border: inset 2px turquoise;
}

.tBtn:disabled {
  color: darkslateblue;
  background-color: darkslategray;
  opacity: .5;
}

#subHeader {
  padding: 10px;
  height: fit-content;
  width: 90vw;
  margin: 5px auto;
  background-color: purple;
  color: yellow;
  border: solid 2px black;
  border-radius: 10px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

#scores {
  width: 400px;
  max-width: 70vw;
  margin: 0 30px 20px;
  font-size: 1em;
  background-image: linear-gradient(to right, black, purple, red, purple, black);
}

.score {
  margin-left: 25px;
}

.red {
  color: red !important;
}

#exitBtn {
  float: right;
  padding: 4px 20px;
  margin-right: 10px;
  background-color: yellow;
  color: black;
  outline: none;
  border: solid 2px darkblue;
  border-radius: 5px;
}

#exitBtn:active {
  filter: invert(1);
}

#exitBtn:disabled {
  filter: grayscale(80%);
}

#garden {
  width: fit-content;
  margin: 15px auto;
}

.minefield {
  width: 53px;
  height: 53px;
  margin: auto;
  padding: 0;
  border-radius: 5px;
}

.minefieldCard {
  display: inline-block;
  width: 54px;
  height: 54px;
  padding: 1px;
  border: solid 1px white;
  border-radius: 5px;
  background-color: green;
}

.dirtCard {
  display: inline-block;
  width: 60px;
  height: 60px;
  padding: 0;
  border: solid 1px darkslategray;
  background-color: black;
}

.dirt {
  width: 59px;
  height: 59px;
  margin: 0;
  padding: 0;
}

.aknaHits {
  color: red;
}

.kincsHits {
  color: cyan;
}

.aknaHits {
  color: red;
}

.kincsHits {
  color: cyan;
}

.near {
  font-size: 16px;
  width: 100%;
  display: inline-block;
  text-align: center;
  color: ghostwhite;
  line-height: 53px;
}

.pear {
  transition: none;
  filter: opacity(0) blur(5px);
  left: 100%;
}

.appear {
  transition: all 1s ease-out;
  filter: opacity(1) blur(0);
  left: 0;
}

.disappear {
  transition: all 2.2s ease-out;
  filter: opacity(0) blur(5px);
  left: -80%;
}